extends ./layout

block content
  //- .field
    //- form(action="/api/listings/#{article._id}?_method="PUT", method="POST")
  .field
    form(action="/api/listings/#{listings._id}?_method=PUT" method="POST")
      h2 Language
      label(for="language") language
      input(type="text", name="language", value=listings.language)
      br
      h2 Category
      label(for="category") category
      input(type="text", name="category", value=listings.category)
      br
      h2 region
      label(for="region") region
      input(type="text", name="region", value=listings.region)
      br
      h2 Business Information
      label(for="business_name") business name
      input(type="text", name="name", value=listings.info.name)
      br
      label(for="business_summary") business summary 
      input(type="text", name="summary", value=listings.info.summary)
      br
      label(for="phone") phone
      input(type="text", name="phone", value=listings.info.phone)
      br
      label(for="website") website
      input(type="text", name='website', value=listings.info.website)
      br
      label(for="main_image") main_image
      input(type="text", name='main_image', value=listings.info.main_image)
      br
      h2 Hours
      label(for="hours") hours
      input(type="text", name='hours', value=listings.info.hours)
      br
      h2 Location
      label(for="street") street
      input(type="text", name='street', value=listings.location.street)
      br
      label(for="unit") unit
      input(type="text", name='unit', value=listings.location.unit)
      br
      label(for="city") city
      input(type="text", name='city', value=listings.location.city)
      br
      label(for="state") state
      input(type="text", name='state', value=listings.location.state)
      br
      label(for="zip") zip
      input(type="text", name='zip', value=listings.location.zip)
      br
      label(for="latitude") latitude
      input(type="text", name='latitude', value=listings.location.latitude)
      br
      label(for="longitude") longitude
      input(type="text", name='longitude', value=listings.location.longitude)
      br
      h2 Deal Info
      label(for="offer") offer
      input(type="text", name='offer', value=listings.coupon.offer)
      br
      label(for="description") description
      input(type="text", name='description', value=listings.coupon.description)
      br
      label(for="terms") terms
      input(type="text", name='terms', value=listings.coupon.terms)
      br
      label(for="expiration") expiration
      input(type="text", name='expiration', value=listings.coupon.expiration)
      br
      label(for="coupon_image") coupon_image
      input(type="text", name='coupon_image', value=listings.coupon.coupon_image)
      br
      button save



